.app {
    padding: 100px 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.appAba {
    display: flex;
    align-items: end;
}

.abaIcon {
    display: flex;
    padding: 6px;
    font-size: 1.5rem;
    color: #000;
    background: #E0E0E0;
    border: none;
}

.abaIcon:hover {
    cursor: pointer;
}

.appAba button:nth-child(1) {
    border-radius: 4px 0px 0px 0px;
}

.appAba button:nth-child(3){
    border-radius: 0px 4px 0px 0px;
}

.abaIconPress {
    color: #4F52FF;
    padding: 8px;
    background: #fff;
    border-radius: 4px 4px 0px 0px !important;
    border: none;
}

.appForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px 14px;
    background: #fff;
    border-radius: 0px 4px 4px 4px;
    box-sizing: border-box;
}

.formCont {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
}

.botao {
    width: 16vw;
}

.formText {
    font-size: 14px;
    color: #707070;
    font-weight: 400;
    line-height: 16px;
    margin: 12px 0px 24px;
    width: 75%;
    text-align: center;
}

.formInput {
    border-radius: 4px;
    border: none;
    background: #EDEDED;
    color: #707070;
    font-size: 14px;
    padding: 18px 24px;
    flex-grow: 2;
    box-sizing: border-box;
    min-width: 200px;
}

.formInput:focus {
    outline: 1px solid #4F52FF ;
}

.resultText {
    margin-block: 24px 12px;
    font-size: 18px;
    color: #3E3E3E;
    font-weight: bold;
}

.formButton {
    background: #4F52FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 14px;  
    min-width: 16vw;
}



